@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
.post-detail{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.postdetail{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 800px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
   
    font-family: 'Noto Sans SC', sans-serif;
    padding: 10px;
}
.post-detail-notFound p{
    font-size: 32px;
    margin-top: 200px;
    color: gray;
    font-weight: bold;
}
